/* START HEADER BLOCK */
@media (max-width: 1399px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .head-nav {
        margin-left: 40px;
    }

    .head-nav ul li {
        margin-right: 50px;
    }

    .head-rows {
        justify-content: space-between;
    }

    .head-auth {
        margin-left: 30px;
    }

}

@media (max-width: 991px) {
    .head-nav, .head-auth {
        display: none;
    }
    .navbutton {
        display: block;
    }
    body {
        font-size: 18px;
    }
}

/* END HEADER BLOCK */



/*START MAIN BLOCK*/
/*START HOME BLOCK*/

@media (max-width: 991px) {
    .home-bg-img img {
        opacity: 0.6;
    }

    .home {
        padding: 50px 0;
        min-height: unset;
    }

    .home-head {
        font-size: 45px;
        line-height: 1.2;
    }

    .button, a.button {
        padding-left: 40px;
        padding-right: 40px;
        height: 45px;
    }
}

/*END HOME BLOCK*/

/*START INFO BLOCK*/

@media (max-width: 1329px) {
    .info-block-top {
        padding-bottom: 52px;
        flex-direction: column;
    }

    .info-block {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .info-block-upper-sub-title {
        line-height: 135%;
        font-size: 40px;
    }

    .info-block-content {
        padding-top: 20px;
        font-size: 18px;
    }
}

@media (max-width: 1389px) {
    .step-item-pos3 {
        padding-top: 0px;
    }

    .step-item-pos2 {
        padding-top: 0px;
    }

    .step-head:nth-child(3){
        margin-top: 0px;
    }
}

@media (max-width: 340px) {

    .head-logo{
        padding-left: 10px;
    }

    .step-content p {
        padding-left: 7px;
    }

    .info-block-top {
        padding-left: 10px;
    }
}
/*END INFO BLOCK*/
/*START VIDEO BLOCK*/


@media (max-width: 1199px){
    .video-block-rows {
        flex-direction: column-reverse;
    }

    .video-block-video {
        margin-bottom: 45px;
        width: 695px;
    }

    .video-block {
        padding: 60px 0 60px;
    }
}

@media (max-width: 791px){
    .video-block-video {
        width: 595px;
    }

    .video-block-head {
        font-size: 40px;
        line-height: 120%;
    }

    .video-block-text p {
        font-size: 20px;
        line-height: 120%;
    }
}

@media (max-width: 641px){
    .video-block-video {
        width: 455px;
    }

    .video-block-head {
        font-size: 35px;
        line-height: 120%;
    }

    .video-block-text p {
        font-size: 18px;
        line-height: 120%;
    }
}

@media (max-width: 499px){
    .video-block-video {
        width: 305px;
    }

    .video-block-head {
        font-size: 30px;
        line-height: 120%;
    }

    .video-block-text p {
        font-size: 17px;
        line-height: 120%;
    }
}

@media (max-width: 340px){
    .video-block-video {
        width: 275px;
    }

    .video-block-head {
        font-size: 30px;
        line-height: 120%;
    }

    .video-block-text p {
        font-size: 17px;
        line-height: 120%;
    }

    .video-block-content{
        padding-left: 10px;
    }

    .video-block-button a {
        padding-left: 30px;
        padding-right: 30px;
        height: 43px;
    }
}

@media (max-width: 290px){
    .video-block-video {
        width: 205px;
    }
    .video-block-head {
        font-size: 25px;
        line-height: 120%;
    }

    .video-block-text p {
        font-size: 15px;
        line-height: 120%;
    }

    .video-block-button a {
        font-size: 15px;
    }
}
@media (max-width: 290px){
    .video-block-video {
        width: 205px;
    }
    .video-block-button a {
        font-size: 13px;
    }
}

/*END VIDEO BLOCK*/

/*START PRODUCT BLOCK*/

@media (max-width: 1299px){
    .our-product-img-wrapper {
        flex: 1 0 auto;
        flex-basis: 50%;
    }
    .our-product-img{
        flex: 1 0 auto;
        flex-basis: 50%;
        width: 600px;
    }

    .our-product-card-controller {
        width: 276px;
    }

    .our-product-content-title {
        font-size: 40px;
        line-height: 125%;
    }
}

@media (max-width: 1199px){
    .our-product-img{
        width: 520px;
    }

    .our-product-card-controller {
        width: 236px;
    }
}

@media (max-width: 1099px){
    .our-product-rows {
        flex-direction: column;
    }

    .our-product-content-head {
        margin-top: 35px;
    }
}
@media (max-width: 540px){
    .our-product-content {
        padding-left: 15px;
        width: 530px;
    }  

    .our-product-img-wrapper {
        position: relative;
        display: block;
}

    .our-product-content-title {
        width: 240px;
        font-size: 30px;
    }
    .our-product-content-text {
        font-size: 15px;
    }
	.our-product-card {
		position: relative;
	}
	
	.our-product-card-controller{
		position: relative;
	}
	
	.our-product-rows {
		display: block;
	}
	
	.our-product-img {
		width: 236px;
	}
	
	.our-product-content-text p {
		width: 300px;
	}

}

/*END PRODUCT BLOCK*/
@media (max-width: 340px){
    .footer-content{
        padding-left: 10px;
    }
}
/*START FOOTER BLOCK*/

/*END FOOTER BLOCK*/

/*END MAIN BLOCK*/
